.testing { display: none; } /* refactor - see view/environment.html */

div.gamepad-test {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    color: #000;
    background-color: transparent;
}
iframe.gamepad-test {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 0px solid #000;
    background-color: #fff;
    z-index: 1;
}

#spinner {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
    color: #000;
    opacity: 0.8;
}

#toast {
    display: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
    min-width: 200px;
    max-width: 500px;
    min-height: 60px;
    max-height: 160px;
    z-index: 1998;
    padding: 4px;
    color: #fff;
    background-color: #000;
    opacity: 0.8;
    border: 1px solid #fff;
    border-radius: 4px;
}

#toast h3 {
    margin: 0;
}

body,
.view-container {
    margin: 0px;
    padding: 0px;
    color: #fff;
    background-color: #000;
    overflow: hidden;
}

.transparent-bg {
    background-color: transparent;
}

div.dashboard {
}

.dashboard textarea {
    background-color: transparent;
    color: #fff;
    border: 0px solid #000;
    margin: 0.25em;
    width: 99%;
    height: 40px;
}

button.launcher,
button.quit {
    display: 'inline-block';
    border-radius: 6px;
    font-weight: bold;
    text-align: center;
    -webkit-appearance: none;
    text-shadow: 1px 1px 1px #000;
}

button.launcher {
    margin: 0.25em;
    width: 80px;
    height: 80px;
    font-size: 16px;
    padding-top: 52px;
    background-repeat: no-repeat;
    background-position: 10% 10%;
    background-size: 100% auto;
}

button.quit {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 40px;
    height: 40px;
    font-size: 10px;
    margin: 1em;
    padding-top: 0px;
}

.focus {
    border-color: #44c !important;
}

button.img-button-pine1,
button.img-button-pine2 {
    background-image: url(../assets/splash/pine.png);
    background-repeat: no-repeat;
    background-position: 10% 10%;
    background-size: 100% auto;
}
button.img-button-pine2 {
    background-image: url(../assets/splash/ship.png);
}

button.reverse {
    color: #fff;
}

#splash,
#view {
    z-index: 100;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#splash {
    z-index: 1000;
    background-color: #000;
    color: #fff;
    font-size: 96px;
    line-height: 192px;
    display: none;
}

canvas {
    position: absolute;
    top: 0px;
    visibility: hidden;
}
